/* 360-800 */
@media (max-width: 768px) {
    /* ------------------ Navbar */
    .navbar form button {display: none;}
    .navbar form {display: block; width: 100%; margin-top: 0.5rem;}
    .navbar form input {line-height: 2rem;}
    /* .upper {} */
    .lower {overflow-x: hidden;}  
    .lower .tags {overflow-x: scroll; white-space: nowrap; scrollbar-width: none;}
    .lower ul li {display: inline-block;}
    
    /* ------------------ Front Page */
    .front-img {padding: 2rem 0 4rem 2rem; border: 1px solid red;}
    .carousal .title {display: block; white-space: nowrap;}
    .carousal .title h4, .timer h4{font-size: 1rem;}
}