/* Desktop */
@media (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
    .footer-grid {
        display: grid;
        grid-template-columns:  repeat(5, 1fr);
    }
    .deals-offers, .home-outdoor {display: grid; grid-template-columns: 1fr 4fr;}
    .navigation .desktop-only .dropdown-toggle {border-radius: 0;}
    .rec div {width: 100%; border-left: 1px solid #DEE2E7};
    .rec .item span {border-radius: 1rem; background-color: #ffebee;}
    .rec .item h4 {margin: 0.4rem 0 !important; font-size: 1rem;}
    .rec img {height: 120px;}
    .offer .timer h5{font-size: 1rem;}
    .offer .timer span {width: 3rem;}
}

/* Mobile */
@media (max-width: 767px) {
    .desktop-only {
        display: none !important;
    }
    .footer-grid {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 1rem;
    }
    /* ------------------ Navbar */
    .navbar form button {display: none;}
    .navbar form {display: block; width: 100%; margin-top: 0.5rem;}
    .navbar form input {line-height: 2rem;}
    .upper {margin: 0 7% !important; width: 100%; padding: 0 !important;}
    .lower {overflow-x: hidden;}  
    .lower .tags {overflow-x: scroll; white-space: nowrap; scrollbar-width: none;}
    .lower ul li {display: inline-block;}
    
    /* ------------------ Front Page */
    .front-img {padding: 2rem 0 4rem 2rem; background-image: url(../images/background/Banner-board-800x420.png); background-size: cover; background-position: center;}
    .front-img-2 {/*padding: 2rem 0 4rem 2rem;*/ background-image: url(../images/background/image102.png); background-size: cover; background-position: center;}
    .front-img-2 h3 {padding: 2rem 0 0 2rem;}
    .front-img-2 button {margin: 1rem 0 2rem 2rem;}
    .carousal {border-bottom: 9px solid #F7FAFC;}
    .carousal .title {display: block; white-space: nowrap;}
    .carousal .src {border-bottom: 1px solid #e0e0e0;}
    .carousal .title h4, .timer h4, .item h4 {font-size: 1.2rem;}
    .carousal a {text-decoration: none;}
    .item-container {overflow-x: scroll; scrollbar-width: none; border: 1px solid #e0e0e0;}
    .item-container .item {/*height: 13rem;*/ height: fit-content; padding: 1rem 1.8rem; white-space: nowrap; border-right: 1px solid #DEE2E7;}
    .item-container .item img {width: 120px; object-fit: contain;}
    .item-container .item span {border-radius: 1rem; background-color: #ffebee; font-size: 1rem;}
    
    .item-container-last {display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.6rem; padding: 0.6rem; border: 1px solid #e0e0e0; background-color: #F7FAFC;}
    .item-container-last .item {border-radius: 0.3rem; background-color: #fff; border: 1px solid #DEE2E7;}
    .item-container-last .item span {color: gray;}
    .item-container-last .item img {max-width: 100%; object-fit: contain;}
    .item-container-last .item h4 {margin-top: 0.6rem;}
}
.nwrap { white-space: nowrap;}

.front-img-container {background-image: url(../images/background/Banner-board-800x420.png); background-size: cover; background-position: center;}
.banner-section {height: 100%;}
.home-outdoor .home-cont {background-image: url(../images/background/Group969.png); background-size: cover; background-position: center;}
.home-outdoor .consumer-elec  {background-image: url(../images/background/Group970.png); background-size: cover; background-position: center;}
.home-outdoor .img-div {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;}
.home-outdoor .img-container {width: 100%; height: 5rem; padding: 1rem;}
.home-outdoor .img-container h5{font-size: 1rem;}
.home-outdoor .img-container p {font-size: .9rem;}

.request-section .form-container{border-radius: .4rem;}
.request-section {background-image: url(../images/background/image102.png); border-radius: .4rem; background-size: cover; background-position: center;}

.category-header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rec-section .product-card {border-radius: .4rem; border: 1px solid #DEE2E7;}
.rec-section .product-card img { padding: 1rem;}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.service-sec .service-card .image-cont { height: 7rem; width: 100%; border-radius: 0.4rem 0.4rem 0 0; background-image: url(../images/background/image107.png); background-size: cover;}
.service-card {
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;
    position: relative;
}

.service-card .icon {
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
    background-color: #f8f9fa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sup-section {display: grid; grid-template-columns: repeat(5, 1fr); row-gap: .7rem;}
.sup-section div { padding: .5rem;}

footer { background-color: #fff; }
footer .footer-links ul{ list-style: none; padding: 0;}
footer .footer-links ul li{ margin-bottom: .6rem;}

footer a {text-decoration: none; color: #666;}
footer .footer-links a:hover { color: #2979ff; }
footer .social-icons a {
    color: #666;
    margin-right: 15px;
    font-size: 18px;
}
footer .app-download img {
    height: 40px;
    margin-right: 10px;
}

@media (max-width: 410px) {
    .carousal .offer .timer span {padding: 0 !important;}

}
@media (max-width: 325px) {
    .carousal .offer .timer span {display: none;}
}